<a href="https://colab.research.google.com/github/nallagatlanagarakeshreddy/python_notes/blob/main/Python_e_notes_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#What is python?
#1.High level language(Human friendly language)
#2.object oriented programming (object)
#3.general purpose programming
#4.dynamically typed

In [ ]:
#why we require comminting?
#better understanding of the code

In [ ]:
#Numerical data type
#3 types of numerical data type
#1.integer: A Whole number without decimal points
#print(): to display output
print(10)
#how can you find the data type?
#type(): used for to know the data type
print(type(10))

In [ ]:
#2.float: a whole number either -ve or +ve with decimal points
print(10.5)
print(type(10.5))
print(2.35)
print(type(2.35))
print(-1.0)
print(type(-1.0))

10.5
<class 'float'>
2.35
<class 'float'>
-1.0
<class 'float'>

In [ ]:
#3.complex : a real number with its imaginary part
#what is j?
#j = iota (root-1)
print(2+4j)
print(type(2+4j))

(2+4j)
<class 'complex'>

#Arthamatic operation

In [ ]:
#what are all arthamatic operators?
#1.Addition: "+"
print(10+5)
print(type(10+5))
#2.subtraction: "-"
print(10-5)
print(type(10+5))
#3.Multiplication: "*"
print(10*5)
print(type(10+5))
#4.division: "/" (forward slash)
print(10/5)
print(type(10/5))

15
<class 'int'>
5
<class 'int'>
50
<class 'int'>
2.0
<class 'float'>

In [ ]:
#5.Exponential: to the power off (**)
print(2**3)
print(type(2**3))

8
<class 'int'>

In [ ]:
#6.floor division: it will ignores the values after decimal points
#denoted with "//"
print(10/3)
print(10//3)

3.3333333333333335
3

In [ ]:
#7.Modulus: "%" remainder of a division
print(10%2)
print(type(10%2))

0
<class 'int'>

In [ ]:
#find the give number is odd or even?
# if output is 0 - even
# if output is 1 - odd
print(5%2)
print(6%2)
print(78%2)

1
0
0

In [ ]:
#What is a floor value?
#it is a value before decimal point

In [ ]:
#IDE: integreted development environment --> code executer, compiler, write our code and display
#google colab, pycharm, jupter notebook etc

Types of errors

In [ ]:
#They are two types of errors
#1.syntax error: if you break the rules of programming language you have syntax error
print(10**3)
print(10* *3)
#2.Logical error: except syntax error all the errors comes under logical error
#Example: indentation error,type error, recursive error etc

1000
1000

#Round function

In [ ]:
#it will give the nearest values means we are rounding off the value
print(round(10.5))
print(round(10.7))
#if the values are equals to or less than(0.5) the round off value can be floor

10
11

In [ ]:
#print round of 2.3456
print(round(2.3456))
#if i want to print number with 2 decimal point?
print(round(2.3456,2))
#print 1st 3 decimal points?
print(round(2.3456,3))

2
2.35
2.346

In [ ]:
#What is ceiling value?
#when you use round off function if the values is more than point 5(0.5) it will go for neares upcoming values
#so upcoming values is known as ceiling value.

In [ ]:
print("Hello World")

Hello World

In [ ]:
#print first 3 decimals from the given 9.6543
#9.65
print(round(9.6543,2))

9.65

variables(day2)

In [ ]:
#why we are using the variables?
#A containers where we can store our valuable information and whenever you want you reuse it
#How can we create an variable?
#by using some variables,alphabets,names
"""lets say father age is x and son age is 1/2 father age"""
x = 40
son_age = x/2
print(son_age)

20.0

In [ ]:
x = 10
y = 5
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)
print(x**y)
print(x//y)

15
5
50
2.0
0
100000
2

In [ ]:
#Rules to follow for writing variables
#1.variables can written by using alphabets
x = "Hello world"
print(x)
#2. you cannot start with numbers
#3. If you follow rule 1 and 2 then you can start with alphabets in b/w you use number
hello3 = "hello world"
print(hello3)
#4. you can start with _
_ = 10
print(_)
#5. you cannot use special chartacters
#6. you cannot give spaces in b/w variables
#7. dont start a variable with capital letters
#8. variables are case sensitive
#c = 10
#print(C)

Hello world
hello world
10

In [ ]:
#smart ways of writing variable
#1.Assign multiple values to multiple variable and print it?
a,b,c = 10,20,30
#print(a,b,c)
#2.assign single values to multiple variable
a = 10
b = 10
c = 10
#print(a,b,c)

a = b = c = 10
#print(a,b,c)
#print the output in seprate line
#we are using sep = "\n" to print the output in n no.of lines
print(a,b,c, sep="\n")

10
10
10

#Input function

In [ ]:
#What is input()?
#it will takes what ever information given by user
#how to access the input()?
#to create input function we are using "input()" along with variables
#How to access the input()?
#with help of input variable we can access the input()
#What is use of input?
#we can give multiple values to the single variable

In [ ]:
#we can give multiple user values to the single variable
a = input()
print(a)
print(type(a))

In [ ]:
x = int(input())
y = int(input())
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)
print(x**y)
print(x//y)

10
20
30
-10
200
0.5
10
100000000000000000000
0

#string

In [ ]:
#what is a string?
#string collection group of character which written inside " "
a = "hello world"
print(a)

hello world

In [ ]:
#write a multiple line of string?
#"""  """
#note:- when you start with double quotes end with double qoutes and vice versa
a = input("Enter the message: ")
print(a)

In [ ]:
#note:- string is collection multiple characters each and every character is accessble.
#how can we access each element in a string?
#indexing:- positional number of each and every element in a string
#slicing operator:- ---->[]

In [ ]:
#find the lenght of a string?
a = "hello world"
print(len(a))

11

#Index

In [ ]:
a = "hello world!"
print(a[0])
print(a[6])

h
w

In [ ]:
#print range of the characters?
#[start:end]
#print "hello" from "hello world"
a = "Hello World!"
print(a[0:5])
print(a[6:11])
#note:- if u want to display specific end character you need add it with 1--> n+1

Hello
World

In [ ]:
#i want to print stepwise elements from string
#[start:end:step]
print(a[0:12:3])

HlWl

In [ ]:
#Negative indexing:- accessing the elements in string from reverse direction start from -1
#print last character of the string:
a = "Hello World!"
print(a[-1])
#print world from hello world in --ve indexing?
print(a[-6:-1])

!
World

In [ ]:
#but i want go in reverse direction
#step
print(a[-1:-7:-1])

!dlroW

In [ ]:
a = "univerese"
print(a[-1:-10:-1])
#default methods
#[start:end:step]
print(a[::-1])

eserevinu
eserevinu

In [ ]:
#string = "Hello, World"
#print(string[::])
string = "Hello World"
print(string[-2:])

ld

In [ ]:
#tell whether is  Palindrome
a = "mom"
print(a)
print(a[::-1])

mom
mom

#string Methods(day3)

In [ ]:
#dir()
x = "hello world"
#What are all the methods i can apply on x = "hello world"
#we are using dir() to know what are all the methods are apply on the string
print(dir(x))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [ ]:
#1.capitalize()
#2.upper()
#3.lower()
#4.replace()
#5.trim()
#6.ltrim()
#7.rtrim()
#8.title()
#9.swapcase()
#10.split()
#how can you apply string methods?
x = "hello world!"
print(x.upper())
print(x.lower())
print(x.title())
print(x.swapcase())
print(x.split())

HELLO WORLD!
hello world!
Hello World!
HELLO WORLD!
['hello', 'world!']

**string format method**

In [ ]:
#what is the string format method?
#FALLING the placeholder{} with given arguments
#there are format methods
#1.1st method
age = 40
string = "my age is {}"
print(string.format(age))
#2nd method
age = 40
string = "my age is {}".format(age)
print(string)
#3.3rd (f'format method)
age = 40
string = f"my age is {age}"
print(string)

my age is 40
my age is 40
my age is 40

In [ ]:
#2nd method
item = "product A"
price = 99.9
quntity = 20
text = "Your order for {} number of items {} priced at {} is confirmed".format(item,price,quntity)
print(text)

Your order for product A number of items 99.9 priced at 20 is confirmed

In [ ]:
#3rd method
item = "product A"
price = 99.9
quntity = 20
text = f"Your order for {item} number of items {quntity} priced at {price} is confirmed"
print(text)

Your order for product A number of items 20 priced at 99.9 is confirmed

In [ ]:
item = "product A"
price = 99.9
quntity = 20
text = f"Your order for {item} number of items {quntity} priced at {price*quntity} is confirmed"
print(text)

Your order for product A number of items 20 priced at 1998.0 is confirmed

#condtional statements(control structures)

In [ ]:
#what are all comparision operators do we have in python?
#1.equals to ----> ==
#2.not equals ----> !=
#3.greater than -----> >
#4.less than ----->  <
#5.greater than equals  -----> >=
#6.less than equals ---------->  <=
#what are all condition statements we are having?
#if,elif,else

In [ ]:
marks = 34
passing_marks = 35
total_marks = 100
if marks >= passing_marks:
  print("Congratulations ")
  print(f"you have pass with {marks} marks")
else:
  print("Better luck next time")
  print(f"you have got {marks} marks")

Better luck next time
you have got 34 marks

In [ ]:
#print a number if it is +ve print +ve if it is -ve print -ve if it is zero print "neutral"
a = int(input("Enter the number: "))
if a > 0:
  print("Positive")
elif a == 0:
  print("Neutral")
else:
  print("Negative")

Enter the number: -1
Negative

#Logical Operators

In [ ]:
#logical operators:- and, or, not
#and:- all the condition present true
#or:- if any one condition satisifed
#not:- reverse out put

In [ ]:
print(10 == 10)
print(not(10 == 10))

True
False

In [ ]:
a = 10
b = 56
c = 455
#check the condition a is lesser than b and b is lesser than c and b is greater than a
if a < b and b < c and b > a:
  print("yes")
else:
  print("No")

yes

In [ ]:
a = 10
b = 56
c = 455
#check the condition a is lesser than b and b is lesser than c and b is greater than a
if a > b or b < c or b > a:
  print("yes")
else:
  print("No")

yes

In [ ]:
#nested condition:
#when we have to use nested condition.
a = 10
#i want display all the conditions satisified
if a > 10:
  print("a is greater than 10")
else

In [ ]:
#pass:- is a null place holder when you excute it noting will happens
a = int(input("Enter the number: "))
if a > 0:
  pass

Enter the number: 5

In [ ]:
string = "Hello, World!"
print(string[::-1])

!dlroW ,olleH

In [ ]:
x = "hello world"
print(x.split())

['hello', 'world']

In [ ]:
#check what grade we can give to the students based upon their marks?
#total marks = 100
#if the student get 90 to 100 --> A+
#if the student get 80 to 90 --> A
#if the student get 70 to 80 --> B+
#if the student get 60 to 70 --> B
#if the student get 50 to 60 --> c
#if the student get 40 to 50 --> D
#Below it display "better luck next time."

In [ ]:
a = int(input("Enter the number: "))
total_marks = 100
if a >= 90 and a <= 100:
  print("Grade A+")
elif a >= 80 and a <= 89:
  print("Grade A")
elif a >= 70 and a <= 79:
  print("Grade B+")
elif a >= 60 and a <= 69:
  print("Grade B")
elif a >= 50 and a <= 59:
  print("Grade C")
elif a >= 40 and a <= 49:
  print("Grade D")
elif a>=100:
  print("invalid number")
else:
  a>=39
  print("Better luck next time")

Enter the number: 39
Better luck next time

#Loops(day4)

In [ ]:
#why we are use loops
#we are using this loops to avoid the "wet code" and to encourage "dry code"
#1.wet code:- mean you are repeating the code.
""" W --> write
    E--> everything
    T ---> twice
"""
#2.dry code:- mean not repeating the same code
""" D --> don`t
    R --> repat
    Y --> yourself
"""
#how many types of loops in py prog lang?
#1. while
#2.for loop

#while loop:- it works/runs a set of instruction as long as the conditions true
#1.write a program to run a lift to reach 4th floor?
d = 4
i = 0
while i < d:
  print("go up")
  print("rep go up")
  i = i + 1
#2.let say i = 10 while the i value is less than 10 print the values of i upto 10?
i = 0
while i < 10:
  print(i)
  i = i + 1
#3.print the multiples of 2 upto 10 for that write a program?
d = 5
i = 0
while i < d:
  print(i * 2)
  i = i + 1

go up
rep go up
go up
rep go up
go up
rep go up
go up
rep go up
0
1
2
3
4
5
6
7
8
9
0
2
4
6
8

In [ ]:
#write a program wheater the given string is palindrome or not?
a = input("Enter the text: ")
a_rev = a[::-1]
print(f"rev of string {a_rev}")
if a.lower() == a_rev.lower():
  print(f"{a} is palidrome")
else:
  print(f"{a} is not palidrome")

Enter the text: MAdAm
rev of string mAdAM
MAdAm is palidrome

In [ ]:
#write a program to print multiple of 2 in the given list?
#list = [1,2,3,4,5,6,7,8,9,10]

#for loop

In [ ]:
#for loop:- it runs a set of instruction over a collections(list, tuple, set, dictionary)

#write a program to print multiple of 2 in the given list?
#list = [1,2,3,4,5,6,7,8,9,10]
#list = [1,2,3,4,5,6,7,8,9,10]
#new_list = []
#for i in list:
#  print(i * 2)

list = [1,2,3,4,5,6,7,8,9,10]
new_list = []
for i in list:
  new_list.append(i * 2)
  print(new_list)

[2]
[2, 4]
[2, 4, 6]
[2, 4, 6, 8]
[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10, 12]
[2, 4, 6, 8, 10, 12, 14]
[2, 4, 6, 8, 10, 12, 14, 16]
[2, 4, 6, 8, 10, 12, 14, 16, 18]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
#print the hello world in separate line?
a = "hello world"
for i in a:
  print(i)

h
e
l
l
o

w
o
r
l
d

In [ ]:
#break & continue
#breaks :-stops the loops irrespective of entire
#continue :- skip the current iteration
#number = [1,2,3,4,5,6,7,8]
#for i in number:
#  if i == 8:
#    break
#  print(i)
#continue
number = [1,2,3,4,5,6]
for i in number:
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [ ]:
#a = [10,20,30,40,50,60,70,80,90]
#skip 20,40,70
a = [10,20,30,40,50,60,70,80,90]
for i in a:
  if i == 20 or i == 40 or i == 70:
    continue
  print(i)

10
30
50
60
80
90

In [ ]:
#using range function in a loop
#range(start)
#print number from 1 to 10
#d = 10
#i = 1
#while i <= d:
#  print(i)
#  i = i + 1
#note:- range function is used only in floor loop
for i in range(11):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
#use input() and print range of number as per user input?
a = int(input("Enter the number: "))
for i in range(a+1):
  print(i)

Enter the number: 10
0
1
2
3
4
5
6
7
8
9
10

In [ ]:
#if i want the number start from 2 and till user given input
#syntax:-(start,end)
a = int(input("Enter the number: "))
for i in range(2,a+1):
  print(i)

Enter the number: 10
2
3
4
5
6
7
8
9
10

In [ ]:
#i want to print range of 100 number but i want print all the even number upto 100
#syntax:- (start,end,step)
for i in range(1,101,2):
  print(i)

In [ ]:
#i want to print odd number
a = int(input("Enter the number: "))
for i in range(a):
  if i % 2 != 0:
    print(i)

Enter the number: 70
1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69

In [ ]:
a = input("Enter the text: ")
a_rev = a[::-1]
print(a_rev)

Enter the text: madam
madam

In [ ]:
a = int(input("Enter the number: "))
i = 0
while i<a:
     print(i ** 2)
     i = i + 1

Enter the number: 5
0
1
4
9
16

In [ ]:
mixed_string = 'Am I DreAmIng'
print(mixed_string.lower())
print(mixed_string.upper())

am i dreaming
AM I DREAMING

In [ ]:
a = 0
b = -10

if a >= b:
   print("a is greater or equal to b.")
if a == 0:
   print("a is 0.")
if a <= 5:
   print("a is not more than 5.")
print("Program ends")

a is greater or equal to b.
a is 0.
a is not more than 5.
Program ends

In [ ]:
for i in range(3):
    print(i, end=' ')
else:
    print("Loop ends")

0 1 2 Loop ends

#collections(day5)

In [ ]:
#4 types of collections.
#1.list
#2.tuple
#3.set
#4.Dictionary
#what is list?
#1.List:- created with []
#--ordered, allows duplicates, mutable(changable)
l1 = ["apple","banana","mango","strawberry","Blueberry"]
print(l1)
print(type(l1))
#what can be stored in a list?
l2 = ["true","false","true","False"]
print(l2)
print(type(l2))
l3 = [1,2,3,4,5,6,7,8,9,10]
print(l3)
print(type(l3))

['apple', 'banana', 'mango', 'strawberry', 'Blueberry']
<class 'list'>
['true', 'false', 'true', 'False']
<class 'list'>
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
<class 'list'>

In [ ]:
#print above l1,l2,l3 data types in singles with sep function
print(type(l1),type(l2),type(l3), sep="\n")

<class 'list'>
<class 'list'>
<class 'list'>

In [ ]:
#list allows duplicate means prints duplicate values also
l1 = ["apple","banana","mango","apple"]
print(l1)

['apple', 'banana', 'mango', 'apple']

In [ ]:
#list are ordered.
#what is ordered?
#means we can access each and every element in list by using indexing position numbers
l1 = ["apple","banana","mango","apples","banana","grapes"]
print(l1[0])
print(l1[0:4])
print(l1[0:4:2])

apple
['apple', 'banana', 'mango', 'apples']
['apple', 'mango']

In [ ]:
#how you can say a collection is mutable?
#1.swapping --> A--->B and B-->A
#2.Adding ----> adding new items to the list
#3.Removing --> removing items from the list

In [ ]:
#1. swpping
l1 = ["apple","banana","mango","apples","banana","grapes"]
l1[0]="orange"
print(l1)
#swap the elements from index 1 to 4?
l1 = ["apple","banana","mango","apples","banana","grapes"]
l1[1:3]=["blackberry","pineapple","watermelon"]
print(l1)

['orange', 'banana', 'mango', 'apples', 'banana', 'grapes']
['apple', 'blackberry', 'pineapple', 'watermelon', 'apples', 'banana', 'grapes']

In [ ]:
#2.Append:- adding the extra element/ data at end of the list
l1 = ["apple","banana","mango","apples","banana","grapes"]
l1.append("orange")
print(l1)
#what is the default index position when you use append method?
#end position
#if i want to add more than 2 elements with append is it possible?
#NO --> append can take one one argument

['apple', 'banana', 'mango', 'apples', 'banana', 'grapes', 'orange']

In [ ]:
#insert method:- inserting data at certain position
#sntax:- (insert(index number,"item name"))
l1 = ["apple","banana","mango","apples","banana","grapes"]
l1.insert(2,"orange")
print(l1)

['apple', 'banana', 'orange', 'mango', 'apples', 'banana', 'grapes']

In [ ]:
#extend method:- add the items from the other collections
l2 = [1,2,3,4,5,6,7,8,9,10]
#l1.extend(l2)
l1.append(l2)
print(l1)

['apple', 'banana', 'mango', 'apple', [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]]

In [ ]:
#i want to insert another collection at particular index?
l3 = ["python",'java',"c++"]
l1 = ["apple","banana","mango","watermelon","kiwi"]
l1.insert(2,l3)
print(l1)
#access the 2nd position element and print only python?
print(l1[2][0])

['apple', 'banana', ['python', 'java', 'c++'], 'mango', 'watermelon', 'kiwi']
python

In [ ]:
#removing of elements in a list?
#remove(ltem or index position number)
l1 = ["apple","banana","mango","watermelon","kiwi"]
l1.remove("banana")
print(l1)

['apple', 'mango', 'watermelon', 'kiwi']

In [ ]:
#pop
l1 = ["apple","banana","mango","watermelon","kiwi"]

In [ ]:
#pop:-  pop(index) ---> you should have to have only index number
l1.pop(2)
print(l1)

['apple', 'banana']

In [ ]:
#3.delete
del l1[2]
print(l1)

['apple', 'banana']

In [ ]:
#4.clear
l1 = ["apple","banana","mango","watermelon","kiwi","grapes","blueberry"]
l1.clear()
print(l1)

[]

#2.Tuple

In [ ]:
#Tuple are ordered, immutable, duplicates
#tuples created by ()
t1 = ("apple","banana","mango","watermelon","kiwi","grapes")
print(t1)
print(type(t1))

('apple', 'banana', 'mango', 'watermelon', 'kiwi')
<class 'tuple'>

In [ ]:
#allow duplicates
t1 = ("apple","banana","mango","watermelon","kiwi","grapes","apple","banana")
print(t1)

('apple', 'banana', 'mango', 'watermelon', 'kiwi', 'grapes', 'apple', 'banana')

In [ ]:
#tuples are ordered
t1 = ("apple","banana","mango","strawberry","blueberry","grapes")
print(t1[1:5])
#print even position of above collection
#print reverse of above cillection
print(t1[::2])
print(t1[::-1])

('banana', 'mango', 'strawberry', 'blueberry')
('apple', 'mango', 'blueberry')
('grapes', 'blueberry', 'strawberry', 'mango', 'banana', 'apple')

In [ ]:
#tuple is immutable
t1 = ("apple","banana","mango","watermelon","kiwi","grapes")
t1[0]="orange"
print(t1)

In [ ]:
#how can you add new items to the tuples?
#what is difference between list and tuples?
#when i should use list and when i should use tuple?

#3.set

In [ ]:
#set --> {}
#unordered, no duplicates, immutable
s1 = {"apple","banana","mango","watermelon","kiwi","grapes","apple"}
print(s1)
print(type(s1))

{'mango', 'kiwi', 'watermelon', 'apple', 'grapes', 'banana'}
<class 'set'>

In [ ]:
#set are unordered
print(s1[0])

In [ ]:
#why set are immutable?
#in set we can add new elements/items and we can remove the items but we cannot swap(replace)items beacuse sets does not have

In [ ]:
#add items into set
#1.add(item name)
s1 = {"dog","horse","hen","elephant"}
s1.add("cow")
print(s1)

{'dog', 'hen', 'elephant', 'cow', 'horse'}

In [ ]:
#update method:- we can update other collection values in the taken set
l = [1,2,3,4,5,6]
s1.update(l)
print(s1)

{'dog', 'hen', 1, 'elephant', 2, 3, 4, 5, 6, 'cow', 'horse'}

In [ ]:
#1.removing the items
s1.remove("elephant")
print(s1)

{'dog', 'hen', 1, 2, 3, 4, 5, 6, 'cow', 'horse'}

In [ ]:
#discard method
s1.discard("hen")
print(s1)

{'dog', 1, 2, 3, 4, 5, 6, 'cow', 'horse'}

In [ ]:
#pop method
s1.pop()
print(s1)

{2, 3, 4, 5, 6, 'cow', 'horse'}

In [ ]:
#delete
del s1
print(s1)

In [ ]:
#clear
s2 = {1,2,3,4,5,6,7,8,9,10}
s2.clear()
print(s2)

set()

In [ ]:
#what is the main reason we use sets?
s1 = {"a","b","c","d"}
s2 = {"d","e","f","g"}
s3 = s1.intersection(s2)
print(s3)

{'d'}

In [ ]:
s3 = s1.union(s2)
print(s3)

{'c', 'e', 'f', 'b', 'g', 'a', 'd'}

#Heterogenous data and homogenous data

#Dictionary

In [ ]:
#where we can store our items in a dictionary?
#A) key:values pairs
#B)dictionary--> {}
#-->unordered, it won`t allow duplicates, mutable

In [ ]:
d1 = {
    "name":"python",        #name--key
    "last_name":"programming",
    "age":29,
    "module":True
}
print(d1)
print(type(d1))

{'name': 'python', 'last_name': 'programming', 'age': 29, 'module': True}
<class 'dict'>

In [ ]:
#how can we print keys and values separetly?
print(d1.keys())
print(d1.values())

dict_keys(['name', 'last_name', 'age', 'module'])
dict_values(['python', 'programming', 29, True])

In [ ]:
#print each item()
print(d1.items())

dict_items([('name', 'python'), ('last_name', 'programming'), ('age', 29), ('module', True)])

In [ ]:
#python is an interpreted language?
d1 = {
    "name":"python",       #python is interpreted language check code line by line
    "last_name":"programming",
    "age":29,
    "module":True,
    "name":"java",
    "age":50
}
print(d1)

{'name': 'java', 'last_name': 'programming', 'age': 50, 'module': True}

In [ ]:
#find lenght of dict?
print(len(d1))

4

In [ ]:
#dictionary is an unoredered?
print(d1[0])
#note:- from the above example from the dictionary

In [ ]:
#how can we access elements from the dictionary?
#by using keys we can access the elements from dictionary
print(d1["name"])
print(d1.get("name"))

java
java

In [ ]:
#how can we change values to the particular key?
d1["name"] = "c++"
print(d1)

{'name': 'c++', 'last_name': 'programming', 'age': 50, 'module': True}

In [ ]:
#update is also similar method we are using to update/replace values in dictionary
d1.update({'module':"yes"})
print(d1)

{'name': 'c++', 'last_name': 'programming', 'age': 50, 'module': 'yes'}

In [ ]:
#how can i add new elements into the dictionary
d1["type"] = "Dynamically typed"
print(d1)
#if the key is existed the values are replaced

{'name': 'c++', 'last_name': 'programming', 'age': 50, 'module': 'yes', 'type': 'Dynamically typed'}

In [ ]:
d1["typed"] = "dynamically type"
print(d1)
#Note:- if the input keys are present the values get updayed if it is not present new key:values pairs added

{'name': 'c++', 'last_name': 'programming', 'age': 50, 'module': 'yes', 'type': 'Dynamically typed', 'typed': 'dynamically type'}

In [ ]:
#how can we remove the element in dict?
#by using pop
d1.pop("type")
print(d1)

{'name': 'c++', 'last_name': 'programming', 'age': 50, 'module': 'yes'}

In [ ]:
d1 = {
    "name":["python","c++","java"],
    "last_name":"programming",
    "age":29,
    "module":True
}
print(d1)

{'name': ['python', 'c++', 'java'], 'last_name': 'programming', 'age': 29, 'module': True}

In [ ]:
print(d1["name"][1])

c++

In [ ]:
d1["name"][1]="c"
print(d1)

{'name': ['python', 'c', 'java'], 'last_name': 'programming', 'age': 29, 'module': True}

In [ ]:
#add new items into the list in name?
d1["name"].append("R")
print(d1)

{'name': ['python', 'c', 'java', 'R'], 'last_name': 'programming', 'age': 29, 'module': True}

In [ ]:
print(d1["name"][3])

R

In [ ]:
#delete java from the name?
del d1["name"][2]
print(d1)

{'name': ['python', 'c', 'R'], 'last_name': 'programming', 'age': 29, 'module': True}

In [ ]:
#clear entire dictionary
d1.clear()
print(d1)

{}

In [ ]:
#working with loops in dictionary
d3 = {
    "name":["python","c","java"],
    "last_name":"programming",
    "age":29,
    "module":True
}
#print keys() dict by using loops
for i in d3.keys():
  print(i)

name
last_name
age
module

In [ ]:
for i in d3.values():
  print(i)

['python', 'c', 'java']
programming
29
True

In [ ]:
#by using for loop print key value pair in separate lines
#for i,j in d3.items():
#  print(i,j)
#i want o/p in dict format?
for x in d3.keys():
  print(f'{x}:{d3[x]}')

name:['python', 'c', 'java']
last_name:programming
age:29
module:True

In [ ]:
#dict-->{}-->unordered,key:value pairs,won`t allow duplicates,where values are changable and keys are unchangable
#list-->[]-->ordered,allows the duplicates, mutable
#tuples-->()-->ordered,allow the duplicates, immutable
#sets-->{}-->unordered,it won`t allow duplicates, immutable

#ESCAPE CHARACTERS

In [ ]:
#escape characters are used to print the illegal characters.
print("dwyane \"The Rock\" Kohnson")
#Note:- give the backward slash before illegel characters

dwyane "The Rock" Kohnson

#Functions

In [ ]:
#Function:- is nothing a block of code which can runs when you call it, where you want to reuse
#How can we create a function?
#A)"def" is the key word
#lets create a function
def f1():
  print("Hello World")
  print("THis is my first function")
  print("===========================")
f1()

Hello World
THis is my first function
===========================

In [ ]:
#How to call the function
f1()

Hello World
THis is my first function
===========================

In [ ]:
#A function can seen in parameters and arguments

def f2(name): #name-- parameter
  print(f"hello {name}")
#call this function
f2("python")  #python--aargument

hello python

In [ ]:
#what is parameter?
#defining a variable when you create a function is knows as parameter
#what is argument?
#The value your given to the variable/parameter when you call the function
#why we are using arguments and parameters?
#Both are used to pass some information

In [ ]:
#How many arguments do we have?
def f2(name): #name-- parameter
  print(f"hello {name}")
#call this function
f2("python")  #python--aargument
#one argument here

hello python

In [ ]:
#if i give two parameters and arguments
def f3(name,age):
  print(f"hello {name}, you age is {age}")
f3("python", 29)

hello python, you age is 29

In [ ]:
#use the default parameter to not rise the error when you are calling the function
def f2(name = "user"):  #giving default parameter = "user" you can use the specific value
  print(f"hello {name}")
#call this function
f2()

hello user

In [ ]:
#what do i do when i dont know how many arguments do i need to pass?
def f2(*name):
  for i in name:
      print(f"hello {i}")
#call this function
f2("python","java","c++","c")

hello python
hello java
hello c++
hello c

In [ ]:
#When i don`t know how many parameters do i have to pass?
def f4(**name):
  for x,y in name.items():
    print(f"hello {y}!")
f4(name = "python", last_name = "programming")

hello python!
hello programming!

In [ ]:
print(10,20,30,40,50,60, sep = "\n")#print in sep line

10
20
30
40
50
60

In [ ]:
def f5(name,age,last_name):
  print(f"hello {name} you age is {age} and your last name is {last_name}")
f5("python", 29 ,"programming")

hello python you age is 29 and your last name is programming

In [ ]:
def f1(**details):
  print(details)
f1(name = "python",last_name = "programming", age = 29)

{'name': 'python', 'last_name': 'programming', 'age': 29}

In [ ]:
#when i am using * don't know how many arguments your passing.what

In [ ]:
#Technical name for * and **
""" *-->args-->arbitrary arguments-->tuple
   **-->kwargs-->keyword arguments --> dictionary
"""

In [ ]:
#return() keyword
def f1(x):
  return x
print(f1(10))

10

In [ ]:
#create a sum function
def sum(a,b):
  return a + b
print(sum(2,4))

6

In [ ]:
#end:- means separate the parameters

In [1]:
def mul(a,b):
  print(a*b)
mul(2,4)

8

#List Comprehension

In [2]:
#what is LC?
#LC offers you smaller line of code that you can use to create new_list from existing list
fruits = ["apple","banana","mango","strawberry","blueberry","grapes"]
#create
new_list = []
for i in fruits:
  if "a" in i:
    new_list.append(i)
print(new_list)

['apple', 'banana', 'mango', 'strawberry', 'grapes']

In [4]:
a = ['apple', 'banana', 'mango', 'strawberry', 'grapes',"kiwi"]
new_list = [i for i in a if "a" in i]
print(new_list)

['apple', 'banana', 'mango', 'strawberry', 'grapes']

In [5]:
#write a program to print multiples of 2 in the list?
list = [1,2,3,4,5,6,7,8,9,10]
new = [i*2 for i in list]
print(new)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [11]:
list = [1,2,3,4,5,6,7,8,9,10]
new = [i % 2 == 0 for i in list ]#boolen output
new1 = [i for i in list if i % 2 == 0]
print(new)
print(new1)

[False, True, False, True, False, True, False, True, False, True]
[2, 4, 6, 8, 10]

In [13]:
a = ['apple', 'banana', 'mango', 'strawberry', 'grapes',"kiwi"]
#print a new list where it doesn't have banana in it?
new_fruit_list = [i for i in a if i != "banana"]
print(new_fruit_list)
#another method
new = [i for i in a if "banana" not in i]
print(new)

['apple', 'mango', 'strawberry', 'grapes', 'kiwi']
['apple', 'mango', 'strawberry', 'grapes', 'kiwi']

In [14]:
list = [1,2,3,4,5,6,7,8,9,10]
new = [i for i in list if i > 6]
print(new)

[7, 8, 9, 10]

In [16]:
#using the string methods in LC
#write a program to print the fruits in uppercase?
a = ['apple', 'banana', 'mango', 'strawberry', 'grapes',"kiwi"]
new = [i.upper() for i in a]
print(new)

['APPLE', 'BANANA', 'MANGO', 'STRAWBERRY', 'GRAPES', 'KIWI']

In [18]:
#write a program to replace "banana" with "orange"
a = ['apple', 'banana', 'mango', 'strawberry', 'grapes',"kiwi"]
new = [i.replace("banana","orange") for i in a] #we can only replace only one item
print(new)

['apple', 'orange', 'mango', 'strawberry', 'grapes', 'kiwi']

In [22]:
#print the range of numbers upto 20 in new list?
new = [i for i in range(20)]
print(new)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

#Lambda,Filterfunction,map function

In [23]:
#what is lambda?
#A lambda is a small anonymous function.
#what is anonymous function?
#A function without any name.
#syntax for lambda
#lambda arguments:expression
#what is expression?
#is some ststements/calculation/steps are using that values to give single values
#lambda is an anonymous function where it can have many arguments and 1 expression
#How to call this anonymous function?
#by using the variables
x = lambda a : a + 10 # parameter : expression
print(x(5))

15

In [26]:
#take many arguments
x = lambda a,b,c : a+b+c #many variable : only one expression
print(x(5,6,7))

18

In [42]:
#create diff function
#square
#cube
#fourth
#sqtr -->0.5
def square(x):
  return x ** 2 , x ** 3 , x ** 4 , x ** 0.5
square(3)

(9, 27, 81, 1.7320508075688772)

In [43]:
def power(n):
  return lambda x : x ** n
sq = power(2)
cube = power(3)
a = int(input(""))
b = int(input(""))
print(sq(a))
print(cube(b))

2
3
4
27

In [46]:
#Types of variables
#1)Global variable:- create a variable outside the function
#local variable:- creating variable inside the function is known as LV
def f1():
  x = "fantastic"
  return x
print(f1())

fantastic